.container{
  display: flex;
   justify-content: center;
   margin-top: 200px;
   font-size: 3rem;
  
}

.formContainer{
  width: 40vw;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
   background-color:white;
   /* box-shadow: 4px 4px 8px 4px  #94c8da; */

   padding: 5%;
   border-radius: 10px;
}
body{
  background-color: #AFDCEB;
}
.home{
  text-align: justify;
  font-size:medium;
  margin-top: 20px;
  padding: 2em 5em; 
  color: white;
  
}
.errorElement{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 7em;
  /* width: 50%; */
}