.container{
    display:flex;
    justify-content: space-around;
    align-content: center;
    align-items: baseline;
    background-color: #202B3C;
    padding: 0.5em;
    border-radius: 5px;
    position: sticky;
    top:0;
}

.btn{
    margin-top: 30px;
}


