.container{
    display:flex;
    justify-content: space-around;
    align-content: center;
}

.btn{
height: 80%;
border-radius: 30px;
padding: 0 1rem 0 1rem;
margin-top: 0.5rem;
background-color: rgb(77, 76, 76);
color: white;
box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border: none;
}
.btn:hover{
    background-color: rgb(53, 52, 52);

}

