.container{
    display:flex;
    justify-content: space-around;
    align-content: center;
    align-items: baseline;
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #90c5d6;
}

.btn{
    margin-top: 30px;
}


